.container {
  color: grey;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

button {
  margin: 10px;
}

.container {
  margin-top: -50px;
}

.col-12 {
  padding-top: 50px;
}

button {
  font-family: "JosefinBold";
}

strong {
  font-family: "Futura";
}

h6 {
  font-size: 18px;
}
