.imgBackground {
  background: url("https://jimdiggler.github.io/siteCure/assets/city/aerien.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  height: 600px;
}
